
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <div>
        <h1 class="text-danger">Unauthorized Access</h1>
        <h2 class="text-danger">You don’t have permission to view this page.</h2>
    </div>
</body>
</html>
